<!DOCTYPE html>
    <html>
        <head>
            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="/css/main.css">
        </head>
        <body>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/research">Research</a></li>
                    <li><a href="/cv">CV</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </nav>

            <div class="FeaturedImgBanner" {% if page.featured-img %} style="background-image: url('{{ page.featured-img }}'); background-size:cover;" {% endif %}>
                <h2>Thierry Moreau</h2>
                <h6>Ph.D. Student at the University of Washington</h6>
                <p> April 2017 </p>
            </div>

            {{ content }}

            </div><!-- /.container -->
            <footer>
                <ul>
                    <li><a href="mailto:moreau@uw.edu">email</a></li>
                    <li><a href="https://github.com/tmoreau89">github.com/tmoreau89</a></li>
                </ul>
            </footer>
        </body>
    </html>